# If you want Electrum-MEWC to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Meowcoin Client
Exec=electrum %u
GenericName[en_US]=Meowcoin Wallet
GenericName=Meowcoin Wallet
Icon=electrum
Name[en_US]=Electrum Meowcoin Wallet
Name=Electrum Meowcoin Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/meowcoin;
Actions=Testnet;
Keywords=crypto;currency;MEWC;Meowcoin

[Desktop Action Testnet]
Exec=electrum --testnet %u
Name=Testnet mode
